<h1>智聊系统</h1>
<a href="/">首页</a>
<?php if(isset($_SESSION['id'])): ?>

    <a href="/blog/index">日志列表</a>
    <a href="/blog/create">发表日志</a>
    <a style="color:#F00;font-size:1.2em;" href="/redbag/rob_view">快来抢啊~</a>
    <img style="width:50px;height:50px;border-radius: 50%;vertical-align: middle;" src="<?=$_SESSION['avatar']?>" />
    
    <?=$_SESSION['email'] ?>
    <a href="/user/avatar">设置头像</a>

    <a href="/user/logout">退出</a>

<?php else: ?>

<a href="/user/register">注册</a>
<a href="/user/login">登录</a>

<?php endif; ?>
<hr>
